header{
  background-color: aquamarine;
  /* debug */
  height: 580px;
}

.centered{  
  /* debug */
  width: 80vw;  
  margin: auto;
}

.flex-box{
  display: flex;
}

nav{  
  
  flex-direction: row;
  align-items: center;
  height: 80px;
}

nav .logo{
  background-color: azure;
  height: 80px;
  /* debug */
  
  width: 25%;
}

nav .nav-links{
  background-color: blue;
  /* debug */
  height: 80px;
  width: 50%;  
  justify-content: center;
}

nav .nav-links ul{
  
  /* debug */
  width: 100%;
  justify-content: space-between;  
}

nav .nav-links ul li{
  background-color: blueviolet;
  border: 2px solid gray;  
  /* debug */
  justify-content: center;
  align-items: center;
  width: 20%;
}

nav .log-in{
  background-color: plum;
  /* debug */
  height: 80px;
  width: 25%;
}

ul{
  list-style-type: none;

}


.footer-divs{
  /* debug */
  width: 20%;
  align-items: stretch;

}